/* モバイル縦表示専用キャラ表示設定 */
@media screen and (max-width: 768px) and (orientation: portrait) {
  :root {
    --fontSize: 1.2em;
  }

  .char-slot {
    display: none;
  }

  .char-slot.active {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    width: 96%;
    left: 2%;
    bottom: -3%;
    z-index: 2;
  }

  .char-image {
    width: 100%;
    max-height: 92vh;
    object-fit: contain;
  }

  #char-left,
  #char-center,
  #char-right {
    left: 0;
    width: 100%;
  }
}
